{% extends "base.html" %}

{% block content %}
<h2 class="gilda-display-regular no-paw">{{ cat.name }}</h2>

<div class="header-actions">
    <a href="/cats" class="icon-btn" title="All cats">
        <img src="https://cdn-icons-png.flaticon.com/512/12482/12482739.png" alt="View All Cats">
    </a>
    <a href="/" class="icon-btn" title="Home">
        <img src="https://images.vexels.com/media/users/3/136189/isolated/svg/8aff3574eabda894d8f7484bf8e81a6e.svg"
             alt="Home">
    </a>
</div>

<div class="animal-profile no-paw">
    <img src="{{ cat.picture_url }}" alt="{{ cat.name }}">

    <div class="animal-text" id="cat-info">
        <p><strong>Name: </strong> {{ cat.name }}</p>
        <p><strong>Breed: </strong> {{ cat.breed or 'Unknown'}}</p>
        <p><strong>Age: </strong> {{ cat.age }}</p>
        <p><strong>Gender: </strong>{{ cat.gender or 'Unknown'}}</p>
        <p><strong>Weight:</strong> {{ cat.weight if cat.weight is not none else 'Unknown' }}</p>
        <p><strong>Arrival date: </strong> {{ cat.arrival_date }}</p>

        <p>
            <strong>Adoption status: </strong>
            {% if cat.adopted %}
            Adopted
            {% else %}
            Not adopted
            {% endif %}
        </p>

        <p>
            <strong>Rabies vaccinated: </strong>
            {% if cat.rabies_vaccine %}
            Yes
            {% else %}
            No
            {% endif %}
        </p>

        <p>
            <strong>Feline Leukemia vaccinated: </strong>
            {% if cat.feline_leukemia_vaccine %}
            Yes
            {% else %}
            No
            {% endif %}
        </p>

        <p>
            <strong>Living indoor: </strong>
            {% if cat.indoor is true %}
            Yes
            {% elif cat.indoor is false %}
            No
            {% else %}
            —
            {% endif %}
        </p>

        <p>
            <strong>Declawed: </strong>
            {% if cat.declawed %}
            Yes
            {% else %}
            No
            {% endif %}
        </p>

        <p><strong>Favorite toy: </strong> {{ cat.favorite_toy or '—'}}</p>

        <p>
            <strong>Litter trained: </strong>
            {% if cat.litter_trained %}
            Yes
            {% else %}
            No
            {% endif %}
        </p>

        <p><strong>Character: </strong> {{ cat.character or '—'}}</p>
        {% if cat.notes %}
        <p><strong>Notes:</strong> {{ cat.notes }}</p>
        {% endif %}

        <a href="{{ url_for('edit_cat', cat_id=cat.id) }}" class="btn btn-cats">Edit</a>
        <form action="{{ url_for('delete_cat', cat_id=cat.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn delete-btn">Delete</button>
        </form>


    </div>

</div>
{% endblock %}




