{% extends "base.html" %}

{% block content %}
<h2 class="gilda-display-regular no-paw">Edit: {{ cat.name }}</h2>

<div class="animal-profile no-paw">
    <form action="" method="POST" class="animal-text" style="margin-top:20px;">
        <p><label>Name: <input type="text" name="name" value="{{ cat.name }}"></label></p>
        <p><label>Breed: <input type="text" name="breed" value="{{ cat.breed }}"></label></p>
        <p><label>Age: <input type="number" name="age" value="{{ cat.age }}"></label></p>
        <p>
            <label>Gender:
                <select name="gender">
                    <option value="">--Select--</option>
                    <option value="male" {% if cat.gender=='male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if cat.gender=='female' %}selected{% endif %}>Female</option>
                </select>
            </label>
        </p>
        <p><label>Weight: <input type="number" step="0.01" name="weight" value="{{ cat.weight }}"></label></p>
        <p>
            <label>Arrival Date:
                <input type="date" name="arrival_date"
                       value="{{ cat.arrival_date }}" required>
            </label>
        </p>
        <p><label>Adopted: <input type="checkbox" name="adopted" {% if cat.adopted %}checked{% endif %}></label></p>
        <p><label>Rabies vaccine: <input type="checkbox" name="rabies_vaccine" {% if cat.rabies_vaccine %}checked{%
                                         endif %}></label></p>
        <p><label>Feline Leukemia vaccine: <input type="checkbox" name="feline_leukemia_vaccine" {% if
                                                  cat.feline_leukemia_vaccine %}checked{% endif %}></label></p>
        <p><label>Indoor: <input type="checkbox" name="indoor" {% if cat.indoor %}checked{% endif %}></label></p>
        <p><label>Declawed: <input type="checkbox" name="declawed" {% if cat.declawed %}checked{% endif %}></label></p>
        <p><label>Favorite toy: <input type="text" name="favorite_toy" value="{{ cat.favorite_toy }}"></label></p>
        <p><label>Litter trained: <input type="checkbox" name="litter_trained" {% if cat.litter_trained %}checked{%
                                         endif %}></label></p>
        <p><label>Character: <input type="text" name="character" value="{{ cat.character }}"></label></p>
        <p><label>Notes: <textarea name="notes">{{ cat.notes }}</textarea></label></p>
        <p><label>Picture URL: <input type="text" name="picture_url" value="{{ cat.picture_url }}"></label></p>


        <button type="submit" class="btn btn-cats cat-btn">Save</button>
        <a href="{{ url_for('get_cat', cat_id=cat.id) }}" class="btn btn-cats cat-btn"
           style="margin-left:10px;">Cancel</a>
    </form>
</div>
{% endblock %}
