<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fluffy & Barky Animal Shelter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="paw-background">
<header class="no-paw">
    <h1>Fluffy & Barky Animal Shelter</h1>
    <h2 class="gilda-display-regular">Welcome back!</h2>
</header>
<div class="images no-paw">
    <a href="/animals/cats/1">
        <img src="https://cdn.mos.cms.futurecdn.net/KHQb3Ny62YxXnCEon4mm43-1920-80.jpg" alt='Sindi' width=100>
        <p>Sindi</p>
    </a>
    <a href="/animals/dogs/1">
        <img src="https://magazin.wirliebenhunter.de/assets/images/Zwergpinscher-I.jpg"
             alt="Crawford">
        <p>Crawford</p>
    </a>
</div>
</body>
</html>