#name: Healthcheck
#
#on:
#  push:
#    branches: [ "main" ]
#
#jobs:
#
#  check_server:
#
#    runs-on: ubuntu-latest
#
#    steps:
#    - uses: actions/checkout@v4
#    - name: Build the Docker image
#      run: docker build -t animals:latest .
#
#    - name:  Run a container
#      run: docker run -d -p 8080:8080 --name app animals:latest
#
#    - name: Wait for server to start
#      run: sleep 5
#
#    - name: Run a client inside the container
#      run: docker exec app python client.py


name: Healthcheck

on:
  push:
    branches: [ "main" ]

jobs:

  check_server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t animals:latest .

      - name: Run container
        run: docker run -d -p 8080:8080 --name app -e TESTING=1 animals:latest

      - name: Wait for server to start
        run: sleep 10  # a bit longer to ensure Flask is up

      - name: Run client inside container
        run: docker exec app python client.py
