name: Healthcheck

on:
  push:
    branches: [ "main" ]

jobs:
  check_server:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Start services with Docker Compose
        run: docker compose up -d

      - name: Wait for services
        run: sleep 10

      - name: Run healthcheck
        run: docker compose exec -T web python client.py

      - name: Stop services
        run: docker compose down