name: Test flask server

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test_server:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Start services with Docker Compose
        run: docker compose up -d

      - name: Wait for services to start
        run: sleep 10

      - name: Run a client
        run: python client.py

      - name: Stop services
        run: docker compose down




